* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-family: "Spectral", serif;
}

.heading {
  text-align: center;
    font-size: 6rem;
    background-image:linear-gradient(to right,rgb(23,35,148), #fae209);
    color: transparent;
    -webkit-background-clip:text;
    padding-top:5rem
  
}


