* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-family: "Spectral", serif;
}

.main-foota {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      rgba(2, 0, 0, 0.719) 40%,
      #000
    ),
    url(https://media.gettyimages.com/photos/herbs-and-spices-over-black-stone-background-picture-id589135154?b=1&k=20&m=589135154&s=170667a&w=0&h=MuYiqZW2zMeoU_r7QN0u0c-FFQEWsW3WFfPL0dMibXs=);
  opacity: 0.9;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
}

.copyright {
  color: white;
}

.icons {
  display: flex;
  color: white;
  gap: 4rem;
  font-size: 2.5rem;
}

.fcontacts {
  color: white;
  line-height: 2;
  font-weight: 600;
  font-size: 1.5rem;
}

.logo1 {
  display: flex;
  gap: 1rem;
}
.logo2 {
  display: flex;
  gap: 1rem;
}
.logo3 {
  display: flex;
  gap: 1rem;
}
.logo4 {
  display: flex;
  gap: 1rem;
}

.site-form-in-drawer-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}
