* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-family: "Spectral", serif;
}

.nav-bar{
    background-color: aliceblue;
    
    
}

.nav-bar:hover{
background-color:rgb(213, 226, 214);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  margin-left: 35rem;
}

.nav-search{
    display: flex;
    gap: 15rem;
}

.logo-title {
  
  
  display: flex;
  gap: 10rem;
  align-items: center;
  padding: 1rem 3rem;
  color: green;
}

.title {
  font-size: 5rem;
  font-weight: 800;
}

.nav-link:link, .nav-link:visited{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
  color:green;
}

.logo-img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  
}


